body,
header,
nav,
section,
article,
picture,
form,
fieldset,
legend,
input,
button,
ul,
li,
div,
span,
a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: $font-xl;
    margin-bottom: $space-24;
}

h2 {
    font-size: $font-lg;
    margin-bottom: $space-24;
}

h3 {
    font-size: $font-md;
    margin-bottom: $space-10;
}

h4 {
    font-size: $font-sm;
}

p {
    margin-bottom: $space-24;
    line-height: 1.6;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

fieldset {
    border: none;
    outline: none;
}

legend {
    width: 100%;
}
